/* CSS declarations go here */

body {
    justify-content: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#submit {
    margin-left: auto;
    text-align: center;
    margin-bottom: 20px
}

.collection .title {
    font-size: 10%;
}

#like {
    margin-right: -10px;
    color: forestgreen;
}

#dislike {
    margin-right: 30px;
    color: red
}

#numberdislike {
    margin-right: 35px;
    margin-top: 35px;
    color: red
}

div.nav-wrapper {
    margin-bottom: 50px;
    overflow: auto;
}

ul.collapsible {
    margin-top: 30px;
    overflow: auto;
}

#numberlike {
    margin-right: -5px;
    margin-top: 35px;
    color: forestgreen
}

.nav-wrapper {
    background-color: darkcyan;
}

footer.page-footer {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 60px;
}

#help {
    margin-right: 20px;
}

div.collapsible-header {
    padding: 20px;
    font-size: 16px;
    font-family: Cabin;
}

div.collapsible-header:hover {
    background-color: rgba(0, 130, 200, 0.30);
    -webkit-transition: 1.5s;
}

div.collapsible-body {
    padding: 20px;
    font-family: Cabin;
    font-size: 16px;
}


/*Responsive Lists*/

@media only screen and (max-width: 601px) {
    div.collapsible-header.two {
        line-height: 1.7rem;
    }
}

@media only screen and (max-width: 541px) {
    div.collapsible-header.one {
        line-height: 1.7rem;
    }
}

@media only screen and (max-width: 460px) {
    div.collapsible-header.three {
        line-height: 1.7rem;
    }
}